oh-my-zsh
vim/bundle/YouCompleteMe/
vim/bundle/ack.vim/
vim/bundle/ctrlp.vim/
vim/bundle/greplace.vim/
vim/bundle/nerdtree/
vim/bundle/supertab/
vim/bundle/syntastic/
vim/bundle/tlib_vim/
vim/bundle/tsuquyomi/
vim/bundle/typescript-vim/
vim/bundle/vim-addon-mw-utils/
vim/bundle/vim-airline/
vim/bundle/vim-better-whitespace/
vim/bundle/vim-fugitive/
vim/bundle/vim-snipmate/
vim/bundle/vim-surround/
vim/bundle/vim-tmux-navigator/
vim/bundle/vim-unimpaired/

